body {
    font-family: 'Indie Flower', cursive ,'Courier New', Courier, monospace;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1000px;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
}

.header {
    grid-area: hd;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}


.headerImg {
    display: flex;
    flex-flow: column;
    min-width: 100%;
    height: 70%;
    object-fit: fill;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px auto;
    grid-template-areas: 
    "sd cntn";
}

.section {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    grid-area: sd;
    border: 1px solid green;
    
}

ul {
    list-style-type:none;
    padding-left: 5px;
    margin: 0;
}

.links > li {
    padding: 5px;
}

.aside {
    flex-flow: row;
    flex-wrap: wrap;
    grid-area: cntn;
    padding: 10px;
}
a > button {
    margin-left: 40%;
    color: #2a5e50;
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

a > button:hover {
    background-color: #2fa787;
    color: #FFF;
}

a > button:active {
    background-color: #2a5e50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.aside > h1 {
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

.footer {
    grid-area: ft;
    display: flex;
    flex-flow: row;
    align-content: flex-end;
    justify-content: flex-end;
}

.images {
    width: 32px;
    height: 32px;
    border-radius: 0.5px;
}

a, .header {
    color: #2a5e50;
}
a:any-link {
    text-decoration: none;
}

a:hover {
    color:#4fab91;
    text-decoration: underline;
}

figcaption {
    text-align: center;
}

h3 {
    margin-top: 5px;
    padding-right: 5px;
}

@media (max-width: 320px) {
    .headerImg {
        display: flex;
        flex-flow: column;
        width: 90px;
        height: 70%;
        object-fit: contain;
    }

    .main {
        grid-area: main;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto;
        grid-template-areas: 
        "sd"
        "cntn";
    }

    .images {
        width: 32px;
        height: 32px;
        border-radius: 0.5px;
        align-content: center;
    }

    figcaption {
        display: none;
    }

    .footer {
        grid-area: ft;
        position: absolute;
        right: 0;
        padding-bottom: 5px;
    }
}