on:
  push

name: Test Transition Issues

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.branch.outputs.branchname }}
    steps:
    - uses: actions/checkout@v1
    - run: npm ci
    - uses: nelonoel/branch-name@v1
    # Use branch name for whatever purpose
    - id: branch
    - run: echo ${BRANCH_NAME}
      
  test-transition-issue:
    name: Transition Issue
    runs-on: ubuntu-latest
    needs: build
#     outputs:
#       output1: ${{ steps.find.outputs.issue }}
    steps:
    - name: Login
      uses: atlassian/gajira-login@master
      env:
        JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
        JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
        JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}  
      
    - name: Find in commit messages
      id: find
      uses: atlassian/gajira-find-issue-key@master
      with:
        from: commits

    - name: Transition issue
      uses: atlassian/gajira-transition@master
      with:
        issue: ${{ steps.find.outputs.issue }}
        transition: "Done"

    - name: Comment on issue
      uses: atlassian/gajira-comment@master
      with:
        issue: ${{ steps.find.outputs.issue }}
        comment: ${{ needs.build.steps.branch.outputs.branchname }}
